*{margin: 0;padding: 0;}
body{
  background-color:#F2F2F2;
}
img{
  width: 100%;
}
.title{
  font-size: 25px;
  margin-bottom: 10px;
}
.filter-btn input[type="button"]{
  padding:8px 25px;
  display:block;
  border:none;
  border-radius: 5px;
  background:#C6DE99;
  transition:.3s;
  font-weight: 600;
}
.mb-2{
  margin-bottom: 10px;
}
.filter-btn input[type="button"]:hover{
  background:#7cba01;
  cursor: pointer;
}
.border-bottom{
  border-bottom: 1.5px solid dimgray !important;
}
.spaceX_name{
  color:#555888;
}
h4.fw-bold{
  font-size: 22px;
  margin-bottom: 0;
}
.spaceXImg{
  width:100%;
  background:#f2f2f2;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.fw-bold {
  font-weight: 700;
}
.pb-2 {
  padding-bottom: .5rem;
}
.fw-bold{
  font-weight: 700;
}
.text-center{
  text-align: center;
}
p.text-capitalize{
  text-transform:capitalize;
  font-weight: 600;
}
.text-secondary{
  color: #555555;
}
.spaceXContainer{
  width:100%;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.col-md-2{
    width: 100%;
}
.year_toggle.active,.launch_toggle.active,.land_toggle.active{
  background:#7cba01 !important;
}
@media(max-width:700px){
  
  .container{
    width: 97%;
    margin: auto;
  }
  .col-md-3{
    width: 95%;
    padding:2%;
    margin: 2%;
    background-color:#fff;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .col-md-10{
    width: 98%;
    margin: auto;
  }
}


@media (min-width:700px){
  .container{
    width: 95%;
    margin: 0 auto;
  }
  .col-md-3{
    width: 44%;
    padding:2%;
    margin: 1%;
    background-color:#fff;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .col-md-10{
    width: 95%;
    margin: 0 auto;
  }
}
@media (min-width:1024px){
  .container{
    width: 90%;
    margin: auto;
  }
  .col-md-2{
    width: 18%;
    margin-right: 2%;
  }
  .col-md-10{
    width: 80%;
  }
  .col-md-3{
    width: 22%;
    padding:1%;
    margin: .5%;
    background-color:#fff;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}